MONGO_URL=mongodb+srv://kylemitcoder_db_user:bUh8OoU78FVOjUIV@cluster0.1pq5ryg.mongodb.net/Reja?appName=Cluster0
# PORT=3000

# .env file da check qilolmasligizni oylab examplega save qilib qoydim linkini